body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif; 
 }


/** HEADER **/
#header-nav {
  background-color:#adafb3;
  border-radius: 0;
  border: 3px solid black;
}

.navbar-brand h1 {
	font-size: 30px;
	position: relative;
	bottom: 5px;
	padding-left: 30px;
	margin: auto;
	color: black;
	font-weight: bolder;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000000;
  color: green;
}
  
 #collapsable-nav a {
    font-size: 18px;
    margin-right: 5px;
  }


#nav-list a {
  color: black;
  font-size: 18px;
  text-align: center;
  border: 2px solid #000000;
  background-color: #fff;
  padding-bottom: 20px;
  margin-right: 0px;
  margin-bottom: -7px;

}

#nav-list a:hover {
  background: #E7E7E7;
}

.header {
	padding-bottom: 35px;
}

#main-content {
	background-color: #adafb3;
	width: 95%;
	font-weight: bold; 
}

.block-text {
	text-align: left;
}

.mini-title {
	font-size: 1.3em;
	padding-bottom: 10px;
}



/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .navbar-brand h1 {
	bottom: 4px;
  }
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand h1 {
    bottom: 0;
  }

  .navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

  #main-content {
	background-color: #adafb3;
	width: 75%;
	font-weight: bold; 
  }
}